
*.DS_Store
*.pyc
*.png
*.jpg
*.pt
*.pth

edgeformer/pretrained_models/detection/balance/
edgeformer/pretrained_models/detection/unbalance/
edgeformer/pretrained_models/classification/

env/
env2/
env_test/
checkpoints/
images_test/
test_results/
pretrained/
results/
kompor/

edgeformer/pretrained_models/detection/checkpoint_ema_avg_modif.pt
edgeformer/pretrained_models/detection/checkpoint_ema_avg.pt
edgeformer/pretrained_models/detection/checkpoint_last_krsbi_run1_81.pt

