parcnet/pretrained_models/detection/balance/
.DS_Store
*.pyc
*.png
*.jpg
*.pt
*.pth

parcnet/pretrained_models/detection/unbalance/
parcnet/pretrained_models/classification/

images_test/
test_results/
pretrained/
results/

parcnet/pretrained_models/detection/checkpoint_ema_avg_modif.pt
parcnet/pretrained_models/detection/checkpoint_ema_avg.pt
parcnet/pretrained_models/detection/checkpoint_last_krsbi_run1_81.pt

